h1 {
  text-shadow: 2px 2px 10px black;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}
header {
  background-color: rgb(77, 77, 182);
  color: white;
  text-align: center;
  padding: 20px;
}
#search {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
}
.jobs-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
.job-card {
  background-color: white;
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px black;
}
button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: darkgreen;
}
